html, body {
  font-family: sans-serif;
  font-size: 16px;
}

.container {
  width: 90vw;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
.asset {
  flex: 1 1 200px;
  margin: 20px;
  padding: 2rem;
  border-bottom: 1px solid #eee;
  max-width: 400px;
}
.asset img {
  width: 100%;
  display: block;
}
.asset label {
  margin-top: 1.5rem;
  display: block;
  font-weight: bold;
}
.asset input {
  width: 100%;
  display: block;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #444;
}
